# Kelompok 1 Basis Data

## Anggota Kelompok:
- Fathu Rahman (11170940000028)
- Reza Khaerul I (11170940000044)
- Yulia Amandari (11170940000041)
- Danny Yoga Alfarizki (11160940000049)
- Rahmawati (11160940000035)
- Ivansyah (11170940000047)
- Hany Rahmanita (11170940000060)
- Risky Febriawan (11160940000051)
- Gilang Rizki Pratama (11150940000033)
- Nurul Jannah (11160940000080)
<br>

## Nama tabel dataset:
<br>

- Kelompok_1Dataset_1
- Kelompok_1Dataset_2
- Kelompok_1Dataset_3

In [1]:
dbPar = {'db_': 'u8494347_mtkfstuin', 'tbl':'', 'usr':'u8494347_mtkfstuin', 'pas':'mtkfstuin', 'hst':'data-university.com'}

In [18]:
import pandas as pd
import mysql.connector
from sqlalchemy import types, create_engine


# MySQL Connection
MYSQL_USER      = 'u8494347_mtkfstuin'
MYSQL_PASSWORD  = 'mtkfstuin'
MYSQL_HOST_IP   = 'data-university.com'
MYSQL_PORT      = 3306
MYSQL_DATABASE  = 'u8494347_mtkfstuin'

engine = create_engine('mysql+mysqlconnector://'+MYSQL_USER+':'+MYSQL_PASSWORD+'@'+MYSQL_HOST_IP+':'+str(MYSQL_PORT)+'/'+MYSQL_DATABASE, echo=False)
#engine = create_engine('mysql+mysqldb://root:@localhost:123456/myDB? 

chunksize = 500

idx = 1
for df in pd.read_csv("C:/Users/Risky Febriawan/Basis Data/Dataset1_Kelompok1.csv", chunksize=chunksize):

    if idx == 1: 
        exists = 'replace'
    else:
        exists = 'append'


    df.to_sql(name='Kelompok_1Dataset_1', con=engine, if_exists=exists, index=False, chunksize=chunksize )


    print(str(chunksize * idx)+" Processed");
    idx = idx+1

500 Processed
1000 Processed
1500 Processed

In [13]:
import pandas as pd
import mysql.connector
from sqlalchemy import types, create_engine


# MySQL Connection
MYSQL_USER      = 'u8494347_mtkfstuin'
MYSQL_PASSWORD  = 'mtkfstuin'
MYSQL_HOST_IP   = 'data-university.com'
MYSQL_PORT      = 3306
MYSQL_DATABASE  = 'u8494347_mtkfstuin'

engine = create_engine('mysql+mysqlconnector://'+MYSQL_USER+':'+MYSQL_PASSWORD+'@'+MYSQL_HOST_IP+':'+str(MYSQL_PORT)+'/'+MYSQL_DATABASE, echo=False)
#engine = create_engine('mysql+mysqldb://root:@localhost:123456/myDB? 

chunksize = 500

idx = 1
for df in pd.read_csv("C:/Users/Risky Febriawan/Basis Data/Dataset2_Kelompok1.csv", chunksize=chunksize):

    if idx == 1: 
        exists = 'replace'
    else:
        exists = 'append'


    df.to_sql(name='Kelompok_1Dataset_2', con=engine, if_exists=exists, index=False, chunksize=chunksize )


    print(str(chunksize * idx)+" Processed");
    idx = idx+1

500 Processed

In [74]:
import pandas as pd
import mysql.connector
from sqlalchemy import types, create_engine


# MySQL Connection
MYSQL_USER      = 'u8494347_mtkfstuin'
MYSQL_PASSWORD  = 'mtkfstuin'
MYSQL_HOST_IP   = 'data-university.com'
MYSQL_PORT      = 3306
MYSQL_DATABASE  = 'u8494347_mtkfstuin'

engine = create_engine('mysql+mysqlconnector://'+MYSQL_USER+':'+MYSQL_PASSWORD+'@'+MYSQL_HOST_IP+':'+str(MYSQL_PORT)+'/'+MYSQL_DATABASE, echo=False)
#engine = create_engine('mysql+mysqldb://root:@localhost:123456/myDB? 

chunksize = 500

idx = 1
for df in pd.read_csv("C:/Users/Risky Febriawan/Basis Data/Dataset3_Kelompok1.csv", chunksize=chunksize):

    if idx == 1: 
        exists = 'replace'
    else:
        exists = 'append'


    df.to_sql(name='Kelompok_1Dataset_3', con=engine, if_exists=exists, index=False, chunksize=chunksize )


    print(str(chunksize * idx)+" Processed");
    idx = idx+1

500 Processed
1000 Processed
1500 Processed
2000 Processed
2500 Processed
3000 Processed
3500 Processed
4000 Processed
4500 Processed
5000 Processed
5500 Processed
6000 Processed
6500 Processed
7000 Processed
7500 Processed
8000 Processed
8500 Processed
9000 Processed
9500 Processed
10000 Processed
10500 Processed
11000 Processed
11500 Processed
12000 Processed
12500 Processed
13000 Processed
13500 Processed
14000 Processed

In [5]:
import mysql.connector as mysql
import pandas as pd
from time import time

In [6]:
dbPar = {'db_': 'u8494347_mtkfstuin', 'tbl':'', 'usr':'u8494347_mtkfstuin', 'pas':'mtkfstuin', 'hst':'data-university.com'}

In [7]:
def conMql(dbPar, maxTry=3):
    try_ = 0
    while try_<maxTry:
        try:
            return mysql.connect(host=dbPar['hst'],user=dbPar['usr'],passwd=dbPar['pas'],db=dbPar['db_'])
        except (mysql.Error) as e:      
            print ("Error Connecting to MySQL %d: %s, please wait retrying" % (e.args[0],e.args[1]))
            try_ += 1; time.sleep(1)

In [10]:
db = conMql(dbPar)
query = "SELECT * FROM Kelompok_1Dataset_1"
data = pd.read_sql(query, db)
data.head()

,id,case_in_country,reporting date,Unnamed: 3,summary,location,country,gender,age,symptom_onset,...,recovered,symptom,source,link,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,1,NaN,1/20/2020,None,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66.0,01/03/20,...,0,None,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...,None,None,None,None,None,None
1,2,NaN,1/20/2020,None,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56.0,1/15/2020,...,0,None,Official Weibo of Shanghai Municipal Health Co...,https://www.weibo.com/2372649470/IqogQhgfa?fro...,None,None,None,None,None,None
2,3,NaN,1/21/2020,None,First confirmed imported cases in Zhejiang: pa...,Zhejiang,China,male,46.0,01/04/20,...,0,None,Health Commission of Zhejiang Province,http://www.zjwjw.gov.cn/art/2020/1/21/art_1202...,None,None,None,None,None,None
3,4,NaN,1/21/2020,None,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,female,60.0,None,...,0,None,????????,https://m.weibo.cn/status/4463235401268457?,None,None,None,None,None,None
4,5,NaN,1/21/2020,None,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,male,58.0,None,...,0,None,????????,https://m.weibo.cn/status/4463235401268457?,None,None,None,None,None,None

In [9]:
db = conMql(dbPar)
query = "SELECT * FROM Kelompok_1Dataset_2"
data = pd.read_sql(query, db)
data.head()

,Unnamed: 0,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop
0,0,USA,400546,211,12857,16,21711,365978,9169,1210.0,39.0,2082431,6291
1,1,Spain,141942,0,14045,0,43208,84689,7069,3036.0,300.0,355000,7593
2,2,Italy,135586,0,17127,0,24392,94067,3792,2243.0,283.0,755445,12495
3,3,France,109069,0,10328,0,19337,79404,7131,1671.0,158.0,224254,3436
4,4,Germany,107663,0,2016,0,36081,69566,4895,1285.0,24.0,918460,10962

In [8]:
db = conMql(dbPar)
query = "SELECT * FROM Kelompok_1Dataset_3"
data = pd.read_sql(query, db)
data.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0